.custom-date {
    font-size: 40px;
    margin: 0 10px;
    /* 버튼과의 간격 조정 */
}

/* 캘린더의 전체 크기 조정 */
.rbc-calendar {
    font-size: 18px;
    /* 기본 폰트 크기 */
}

/* 툴바 버튼 크기 조정 */
.custom-toolbar button {
    font-size: 16px;
    /* 버튼 텍스트 크기 */
    padding: 10px 15px;
    /* 버튼 패딩 */
}

/* 이벤트 스타일 조정 */
.rbc-event {
    padding: 10px;
    /* 이벤트 패딩 */
    font-size: 16px;
    /* 이벤트 텍스트 크기 */
}

/* 헤더 스타일 조정 */
.rbc-header {
    font-size: 18px;
    /* 헤더 폰트 크기 */
    padding: 10px;
    /* 헤더 패딩 */
}

/* 날짜 스타일 조정 */
.custom-date {
    font-size: 24px;
    /* 날짜 텍스트 크기 */
    padding: 10px;
    /* 날짜 패딩 */
}

.rbc-event {
    min-width: 100%;
    max-width: 100%;


    box-sizing: border-box;
}