body {
    font-family: 'NanumSquareRound', sans-serif;
}

.custom-date {
    font-size: 35px;
    margin: 0 10px;
    padding: 10px;
    font-weight: bold;
}

.rbc-calendar,
.rbc-header {
    font-size: 18px;
    padding: 10px;
    margin: 2px;
    border-bottom: none;
}

.custom-toolbar {
    position: relative;
    top: -25px;
}

.custom-toolbar button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.leftButton,
.rightButton {
    border: none;
    cursor: pointer;
}

.rbc-month-view {
    border: none;
}

.rbc-month-view .rbc-event,
.rbc-time-view .rbc-event {
    background-color: #9ACD4C;
    font-size: 12px;
    box-sizing: border-box;
    margin-right: 1px;
}

.rbc-month-view .rbc-event {
    min-width: 65%;
    max-width: 65%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbc-time-view .rbc-event {
    min-width: 100%;
    max-width: 100%;
    font-size: 17px;
    padding: 0;
}

.rbc-day-slot .rbc-events-container {
    margin: 0;
}

.rbc-date-cell {
    text-align: left;
    margin: 7px;
}

.rbc-header+.rbc-header,
.rbc-day-bg+.rbc-day-bg,
.rbc-month-row+.rbc-month-row {
    border-left: none;
    border-top: none;
}

.rbc-day-bg {
    background-color: white;
    border-radius: 5%;
    margin: 2px;
    box-shadow: 1px 1px 1px rgba(238, 238, 238, 0.1), -1px -1px 1px rgba(255, 255, 255, 0.1);
    border-bottom: none;
}

.rbc-off-range-bg {
    background-color: #e6e6e6;
}

.rbc-today {
    background-color: #eaf6ff;
}

.calendar {
    background-color: #f2f2f2;
}

.rbc-row {
    position: relative;
}

.rbc-row:nth-child(2),
.rbc-row:nth-child(3) {
    top: -15px;
}

.rbc-row-segment {
    display: flex;
    justify-content: flex-end;
}

.rbc-row-content {
    position: relative;
}

.rbc-allday-cell {
    display: none;
}

.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.event-modal {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.event-modal h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.event-modal button {
    margin: 10px 5px;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.event-modal button.delete-button,
.event-modal button.cancel-button {
    background-color: #d9534f;
    color: #fff;
}

.event-modal button.save-button {
    background-color: #6c757d;
    color: #fff;
}



.rbc-time-view .rbc-event {
    position: absolute;
    left: 0 !important;
    width: 100%;
}

.rbc-time-view .rbc-event {
    opacity: 0.8;
    filter: brightness(1.1);
    transition: opacity 0.2s ease-in-out;
}

.rbc-time-view .rbc-event:hover {
    opacity: 1;
    filter: brightness(1.3);
}